#!/bin/bash
#set -x
### ANSIBLE MANAGED

WHEREIS_DOCKER=$(whereis docker | awk '{print $2}')

{% if curator_logrotate_log is undefined %}
if [ -f "{{ opensearch_data_dir }}/curator/log/curator.log" ]; then
    > {{ opensearch_data_dir }}/curator/log/curator.log
fi
{% endif %}

    $WHEREIS_DOCKER run --rm --name curator -v {{ opensearch_data_dir }}/curator/config.yml:/opt/config.yml -v {{ opensearch_data_dir }}/curator/delete_snapshots.yml:/opt/delete_snapshots.yml -v {{ opensearch_data_dir }}/curator/log:/var/log -e TZ=Europe/Moscow -e LC_ALL=C.UTF-8 -e LANG=C.UTF-8 {{ curator['image'] }} --config /opt/config.yml --dry-run /opt/delete_snapshots.yml

### ANSIBLE MANAGED


