#filebeat.inputs:
#  - type: container
#    paths:
#      - /var/lib/docker/containers/*/*-json.log

filebeat.config.inputs:
  enabled: true
  path: /usr/share/filebeat/inputs.d/*.yml
  reload.enabled: true
  reload.period: 30s

filebeat.autodiscover:

#  providers:
#    # искать docker контейнеры
#    - type: docker
#      templates:
#        - condition:
#            contains:
#              docker.container.name: mesh-stable
#          # определим конфигурацию сбора для этого контейнера
#          config:
#            - type: container
#              paths:
#                - /var/lib/docker/containers/${data.docker.container.id}/*.log
#               exclude_lines: ["^\\s+[\\-`('.|_]"]  # drop asciiart lines

  providers:
    - type: docker
      templates:
        - condition:
            equals:
              docker.container.labels.filebeat.enable: "true"
          config:
            - type: container
              paths:
{% if docker_path is defined %}
                - {{ docker_path }}/containers/${data.docker.container.id}/*.log
{% else %}
                - /var/lib/docker/containers/${data.docker.container.id}/*.log
{% endif %}

processors:
  - drop_fields:
#      fields: ["agent", "container", "ecs", "log", "input", "docker", "host"]
      fields: ["agent", "ecs", "docker.container"]
#      fields: ["agent", "ecs"]
      ignore_missing: true

#output.console:
#  pretty: true

output.logstash:
#The list of known Logstash servers to connect to. If load balancing is disabled, but multiple hosts are configured, one host is selected randomly (there is no precedence). If one host becomes unreachable, another one is selected randomly.
  hosts: [{% for host in groups['logstash'] %}"{{ hostvars[host]['ansible_host'] }}:{{ logstash['port0'] | default('7001') }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% if loadBalance is defined and loadBalance|bool %}
#If set to true and multiple Logstash hosts are configured, the output plugin load balances published events onto all Logstash hosts. If set to false, the output plugin sends all events to only one host (determined at random) and will switch to another host if the selected one becomes unresponsive.
  loadbalance: true
{% endif %}

filebeat.config.modules:
  enabled: true
  path: ${path.config}/modules.d/*.yml

logging.json: true
logging.metrics.enabled: false

http.enabled: true
http.host: 0.0.0.0
