---
# Remember, leave a key empty if there is no value.  None will be a string,
# not a Python "NoneType"
#
# Also remember that all examples have 'disable_action' set to True.  If you
# want to use this action as a template, be sure to set this to False after
# copying it.
actions:
  1:
    action: delete_snapshots
    description: >-
      Delete snapshots from the selected repository older than {{ curator_delete_snapshots }} days (based on creation_date).
    options:
      repository: {{ opensearch_snapshot_repository_name }}
      disable_action: False
      ignore_empty_list: True
    filters:
    - filtertype: age
      source: creation_date
      direction: older
      unit: days
      unit_count: {{ curator_delete_snapshots }}
