server.name: "{{ ansible_hostname }}"
server.host: "0.0.0.0"
opensearch.ssl.verificationMode: "certificate"
opensearch.username: kibanaserver
opensearch.password: {{ opensearch_dashboards['kibanaserver_passwd'] | default('admin') }}
opensearch.requestHeadersWhitelist: ["securitytenant","Authorization"]
server.ssl.enabled: true
server.ssl.certificate: /usr/share/opensearch-dashboards/config/{{ ansible_hostname }}-kibana_http.pem
server.ssl.key: /usr/share/opensearch-dashboards/config/{{ ansible_hostname }}-kibana_http.key
opensearch.ssl.certificateAuthorities: [ "/usr/share/opensearch-dashboards/config/root-ca.pem" ]
opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: ["Global"]
opensearch_security.readonly_mode.roles: ["kibana_read_only"]
opensearch_security.cookie.secure: true
#data.search.usageTelemetry.enabled: false
