---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

{{ opensearch['admin_user'] | default('admin') }}:
  hash: "{{ opensearch['admin_passwd'] | default('admin') | password_hash('bcrypt') }}"
  reserved: true
  backend_roles:
  - "admin"
  description: "Admin user"

kibanaserver:
  hash: "{{ opensearch_dashboards['kibanaserver_passwd'] | default('admin') | password_hash('bcrypt') }}"
  reserved: true
  description: "Kibanaserver user"
