node "" {
  policy = "write"
}
agent "" {
  policy = "write"
}
service "" {
  policy = "write"
}
node_prefix "" {
   policy = "write"
}
agent_prefix "" {
  policy = "write"
}
service_prefix "" {
   policy = "write"
}
